.Todo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: baseline;
  background: var(--purple-500);
  color: var(--white);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;  
  width: 100%;

  transition: .3s ease;
}

.Todo:hover {
  background-image: linear-gradient(135deg, var(--blue-300) 0%, var(--purple-500) 100%);
  background-color: transparent;
  transition: .3s ease;
}

.TodoTextBox {
  word-break: break-all;
  position: relative;
  flex-grow: 1; 
}

.TodoIconsBox {
  display: flex;
}

.incompleted {
  color: var(--white);
  cursor: pointer;
}

.completed {
  color: var(--gray-200);
  text-decoration: line-through;
  cursor: pointer;
}

.editIcon,
.deleteIcon {
  cursor: pointer;
}

.deleteIcon {
  margin-left: 0.75rem;
}



.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: var(--gray-600);
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1000;
  bottom: 90%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--gray-600) transparent transparent transparent;
  
}

.TodoTextBox:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .TodoTextBox:hover .tooltiptext {
    visibility: hidden;
    opacity: 0;
  }
}