.Todo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: baseline;
  background: var(--purple-500);
  color: var(--white);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;  
  width: 100%;

  transition: .3s ease;
}

.Todo:hover {
  box-shadow:
  1px 1px var(--purple-200),
  2px 2px var(--purple-200),
  3px 3px var(--purple-200),
  4px 4px var(--purple-200),
  5px 5px var(--purple-200),
  6px 6px var(--purple-200);
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .3s ease;
}

.TodoTextBox {
  word-break: break-all;  
}

.TodoIconsBox {
  display: flex;
}

.incompleted {
  color: var(--white);
  cursor: pointer;
}

.completed {
  color: var(--gray-200);
  text-decoration: line-through;
  cursor: pointer;
}

.editIcon,
.deleteIcon {
  cursor: pointer;
}

.deleteIcon {
  margin-left: 0.75rem;
}