.wrapper {
  width: 27rem;
  padding: 2rem 2rem;
  font-size: 0.875rem;
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;   
  
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.filterButtons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filterButtons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--purple-500);
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
}

.filterButtons button:hover {
  background-image: linear-gradient(135deg, var(--blue-300) 0%, var(--purple-500) 100%);
  background-color: transparent;
}

.searchInput {  
  margin-bottom: 1rem;  
  width: 100%;
  border: 1px solid var(--purple-500);
  outline-color: var(--purple-500);
  border-radius: 0.25rem;  
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .wrapper {
    width: 20rem;
  }
  
  .filterButtons {    
    gap: 0.2rem;    
  }

  .filterButtons button {
    padding: 0.25rem 0.5rem;
  }
}